<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1{
            color: aqua;
        }
        td{
            color: rgba(22, 151, 61, 0.877);
        }
        th{
            color: rgb(33, 54, 168);
        }
    </style>
</head>
<body>
    <center>
        <h1>AccessRecord_display</h1>
        <table border="2px">
             <tr>
                <th>name</th>
                <th>author</th>
                <th>date</th>
             </tr>
        {% for a in topics %}
             <tr>
                 <td>{{a.name}}</td>
                 <td>{{a.author}}</td>
                 <td>{{a.date}}</td>
             </tr>
        {% endfor %}
        </table>
    </center>
    
</body>
</html>